@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    @apply h-full;
}

body {
    background: #F15177 linear-gradient(#F15177, #E61A4B) no-repeat center center fixed;
}

.button {
    color: #E61B4C;
    @apply text-sm font-semibold bg-white px-8 py-4 rounded-full
}

input[type='text'], textarea {
    background-color: transparent;
    resize: none;
    
    @apply w-full text-white border-b border-white
}

input[type='text']::placeholder, textarea::placeholder {
    color: #fff;
}

.form-group {
    grid-template-columns: 2fr 1fr;
    @apply grid text-white
}

.form-group textarea{
    grid-column: 1/-1;

    @apply mb-2
}