@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    outline: none;
    font-family: 'Poppins', sans-serif;
}

div#__next {
    min-height: 100vh;
}

body {
    background-image: url('/background.png'), linear-gradient(#F15177, #E61A4B);
}

@media screen and (max-width: 768px) {
    body {
        background-image: linear-gradient(#F15177, #E61A4B);
    }
}

.button {
    color: #E61B4C;
    @apply text-sm font-semibold bg-white px-8 py-4 rounded-full
}

input[type='text'], textarea {
    resize: none;
    
    @apply w-full text-white border-b border-white bg-transparent
}

input[type='text']::placeholder, textarea::placeholder {
    color: #fff;
}

.form-group {
    grid-template-columns: 1fr auto;

    @apply grid text-white gap-x-4
}

.form-group textarea{
    grid-column: 1/-1;

    @apply mb-2
}